* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #4e4e4e;
    width: 441px;
    height: 50px;
}

.box {
    padding-left: 14px;
    padding-top: 10.5px
}

.h1 {
    display: inline-block;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    color: #ffffff
}

.body {
    width: 441px;
height: 3882px;

}

.image-container {
position: relative;
display: inline-block;
width: 441px;
height: 574px;
}

.image-container img {
    display: block;
    width: 441px;
    height: 574px;
  }


.overlay-text{
position: absolute;
top: 178px;
left: 16px;
width: 359px;
height: 47px;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.h2{
align-self: self-start;
text-align: center;
font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 42px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
}

.h3{
color: #FFFFFF;
font-family: Roboto;
font-size: 18px;
font-weight: 700;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
padding-top: 20px;
padding-bottom: 20px;
}

.button{
 width: 164px;
height: 41.39px;
 font-family: Roboto;
font-size: 18px;
font-weight: 700;
line-height: 21px;
letter-spacing: 0em;
text-align: center;
background: transparent;
color: #ffffff;
border-color: #FFFFFF;
}

.s2 {
    width: 441px;
    height: 1140px;
    background: #F1F1F1;
    display: flex;
    flex-direction: column;

}

.h4 {
font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 42px;
letter-spacing: 0em;
text-align: center;
color: #152D41;
padding-top: 30px;
padding-bottom: 50px;
}

.circle-container {
    width: 197px;
    height: 197px;
    margin: 0 auto;
}

.circle {
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-color: black;
    background-image: url(https://cdn.pixabay.com/photo/2016/11/29/13/14/attractive-1869761_1280.jpg);
    background-size: 150%;
    background-position: center;
}

.circle-container2 {
    width: 197px;
    height: 197px;
    margin: 0 auto;
    padding-top: 200px;
}

.circle2 {
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-color: black;
    background-image: url(https://cdn.pixabay.com/photo/2016/11/18/19/07/happy-1836445_1280.jpg);
    background-size: 150%;
    background-position: center;
}


.tekst {
display: flex;
flex-direction: column;
height: 145px;
font-family: Roboto;
font-size: 18px;
font-weight: 400;
line-height: 21.09px;
letter-spacing: 0em;
text-align: justify;
padding-left: 30px;
padding-right: 30px;
padding-top: 20px;
color: #000000;
}

.tekst2 {
font-family: Roboto;
font-size: 18px;
font-weight: 400;
line-height: 21.09px;
letter-spacing: 0em;
text-align: justify;
padding-left: 30px;
padding-right: 30px;
color: #000000;
padding-top: 210px;
}

.name {
    padding-bottom: 20px;
    padding-top: 50px
}

.s3{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 3px;
    background-color: #405D78;
    height: 2408px;
    width: 441px;
    align-items: center;
    font-family: Roboto;
font-size: 26px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0em;
text-align: center;
color: #FFFFFF;
padding-top: 30px;
}

.square{
 width: 338.88px;
 height: 331.66px;
 background-color:#F1F1F1;
 display: flex;
 justify-content: center;
}

.square1{
    width: 338.88px;
    height: 331.66px;
    background-color:#F1F1F1;
    display: flex;
    justify-content: center;
    flex-direction: column;
   }

.h5 {
font-family: Roboto;
font-size: 24px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
color: #000000;
display: flex;
justify-content: center;
align-items: center;
}

.p2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
font-size: 18px;
color: #000000;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: center;
}