* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #4e4e4e;
    width: 441px;
    height: 50px;
}

.box {
    padding-left: 14px;
    padding-top: 10.5px
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.h1 {
    display: inline-block;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    color: #ffffff
}


.image-container {
position: relative;
display: inline-block
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
  }

.overlay-text{
position: absolute;
top: 178px;
left: 16px;
width: 359px;
height: 47px;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.h2{
align-self: self-start;
text-align: center;
font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 42px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
}

.h3{
color: #FFFFFF;
font-family: Roboto;
font-size: 18px;
font-weight: 700;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
}

.button{
 width: 164px;
height: 41.39px;
 font-family: Roboto;
font-size: 18px;
font-weight: 700;
line-height: 21px;
letter-spacing: 0em;
text-align: center;
background: transparent;
color: #ffffff;
border-color: #FFFFFF;
}



